<%- include('./partials/head.ejs') %>
  <p style="color:#234567"><b>Hello ILPlatform Admin Team, </b></p>
  <p>
    Congratulations! There is a new contact request on your website. 
    You may get back to them as soon as possible on the following emai: 
    <a href="mailto:<%= email %>"><%= email %>.</a>
  </p>
  <p>Here is a copy of the collected data:</p>
  <div style="margin-left:10px">
    <p>
      <b>Name:</b> <%= first %> <%= last %><br />
      <b>Email:</b> <%= email %><br />
      <b>Subject:</b> <%= subject %><br />
      <b>Message:</b> <%= message %><br />
    </p>
  </div>
  <p>Have a nice day,</p>
  <p><b>The ILPlatform Bot</b></p>
<%- include('./partials/footer.ejs') %>